In [3]:
import pandas as pd
test_data = pd.read_pickle('./test/blocks.pkl')

In [4]:
test_data

,Unnamed: 0,testcase_ID,flaw_loc,filename,code,buffer
7430,499897,7430,NaN,test.c,"[[12, [4], [4], [2]], [4]]",True
10800,728073,10800,NaN,test.c,"[[12, [4], [4], [4], [2, [5, [0], [2], [2]]]],...",True
3858,259705,3858,NaN,test.c,"[[12, [4], [4], [2, [9, [6]], [9, [6]], [5, [0...",True
17738,3418,17738,NaN,test.c,"[[12, [2, [9, [6], [6]], [2, [9, [6], [6]], [5...",False
15977,1635,15977,NaN,test.c,"[[12, [4, [14]], [4], [4], [4], [2, [9, [17], ...",False
25736,11541,25736,NaN,test.c,"[[12, [4], [4], [2]], [4]]",False
23337,9101,23337,NaN,test.c,"[[12, [4], [4], [4, [14]], [2, [9, [6, [8]]], ...",False
3773,252845,3773,NaN,test.c,"[[12, [4], [4], [4], [4], [2, [9, [17], [6, [1...",True
1955,136250,1955,NaN,test.c,"[[12, [4], [4], [2, [9, [6]], [9, [17], [6, [1...",True
23546,9312,23546,NaN,test.c,"[[12, [4]]]",False
21965,7709,21965,NaN,test.c,"[[12, [4], [4], [4], [4], [4], [4], [2, [9, [6...",False
22738,8495,22738,NaN,test.c,"[[12, [4], [2, [5, [0], [2]], [5, [7, [0, [1]]...",False
10144,683175,10144,NaN,test.c,"[[12, [4], [4, [14]], [2, [9, [6], [6, [8]]], ...",True
10471,704100,10471,NaN,test.c,"[[12, [4], [4], [4], [4], [2, [5, [0], [2, [10...",True
14433,69,14433,NaN,test.c,"[[12, [4, [14]], [4], [4, [14]], [4], [2, [9, ...",False
4201,281664,4201,NaN,test.c,"[[12, [2, [9, [6]], [9, [6]], [5, [0], [2, [9,...",True
18215,3902,18215,NaN,test.c,"[[12, [4], [4, [14]], [2, [9, [6, [8]]], [5, [...",False
16413,2075,16413,NaN,test.c,"[[12, [2, [5, [0], [2], [2, [10, [0, [1]]]]]]]]",False
23221,8983,23221,NaN,test.c,"[[12, [4], [4, [14]], [4], [2]], [4, [14]], [4]]",False
1643,115921,1643,NaN,test.c,"[[12, [4, [14]], [4, [14]], [4], [4], [4], [4]...",True
12809,863860,12809,NaN,test.c,"[[12, [2, [5, [0], [2], [2]]]]]",True
8648,583992,8648,NaN,test.c,"[[12, [4, [14]], [4, [14]], [4, [14]], [4], [2...",True
26411,12234,26411,NaN,test.c,"[[12, [4, [14]], [2, [9, [6]], [24, [7, [1], [...",False
248,16593,248,NaN,test.c,"[[12, [4], [4], [4], [4], [4], [4], [4], [4], ...",True
26813,12638,26813,NaN,test.c,"[[12, [4], [4], [4], [2, [9, [6], [6], [6]], [...",False
4015,269819,4015,NaN,test.c,"[[12, [4], [2, [9, [6]], [9, [6]], [9, [6]], [...",True
12898,870002,12898,NaN,test.c,"[[12, [4], [4], [4], [2, [5, [0], [2]]]], [4],...",True
10063,678249,10063,NaN,test.c,"[[12, [4], [4], [2, [9, [6]], [7, [1], [0, [10...",True
21851,7593,21851,NaN,test.c,"[[12, [4, [14]], [4, [14]], [4], [2, [9, [17],...",False
26814,12639,26814,NaN,test.c,"[[12, [2, [9, [17], [6, [14]]], [5, [0], [2, [...",False
...,...,...,...,...,...,...
25739,11544,25739,NaN,test.c,"[[12, [4, [14]], [2, [9, [17], [6, [14]]], [5,...",False
18708,4402,18708,NaN,test.c,"[[12, [4], [2, [5, [0], [2]]]], [5, [0], [2]]]",False
9077,615014,9077,NaN,test.c,"[[12, [4, [14]], [4, [14]], [2, [9, [17], [6, ...",True
18573,4265,18573,NaN,test.c,"[[12, [4], [4], [4], [2]], [4], [4]]",False
4047,271915,4047,NaN,test.c,"[[12, [4], [4], [4], [2, [9, [6, [0, [1]]]], [...",True
204,14029,204,NaN,test.c,"[[12, [4], [4], [4], [4], [2, [9, [6], [6], [6...",True
24274,10048,24274,NaN,test.c,"[[12, [4], [4], [4], [4], [4], [2, [5, [0], [2...",False
11333,762145,11333,NaN,test.c,"[[12, [4], [2, [9, [6, [10, [0, [1]], [0, [1]]...",True
25383,11183,25383,NaN,test.c,"[[12, [4], [4], [2, [9, [6, [0, [28, [0, [1]]]...",False
20968,6698,20968,NaN,test.c,"[[12, [2]]]",False
27694,13530,27694,NaN,test.c,"[[12, [4], [4], [4], [2, [9, [6]], [10, [0, [1...",False
10640,716326,10640,NaN,test.c,"[[12, [4], [4], [2, [9, [6]], [9, [17], [6, [1...",True
8767,591062,8767,NaN,test.c,"[[12, [4, [14]], [4], [4], [4], [2, [9, [17], ...",True
19169,4869,19169,NaN,test.c,"[[12, [4], [2, [25, [19]], [5, [0], [2]]]], [5...",False
27406,13240,27406,NaN,test.c,"[[12, [4], [4], [4], [4], [2, [5, [0], [2, [5,...",False
10396,699473,10396,NaN,test.c,"[[12, [4, [14]], [4, [14]], [2, [9, [6]], [9, ...",True
13372,900925,13372,NaN,test.c,"[[12, [4], [4], [4], [2, [9, [6]], [9, [6]], [...",True
25139,10935,25139,NaN,test.c,"[[12, [4, [14]], [4], [4, [14]], [4, [14]], [2...",False
16606,2271,16606,NaN,test.c,"[[12, [4], [4], [4], [2]], [4], [4]]",False
1115,79747,1115,NaN,test.c,"[[12, [4], [4], [4], [2, [9, [6]], [24, [7, [1...",True
1469,103709,1469,NaN,test.c,"[[12, [4], [4], [4], [2, [9, [6]], [5, [0], [1...",True
16292,1953,16292,NaN,test.c,"[[12, [2, [5, [0], [2]]]]]",False
10654,717384,10654,NaN,test.c,"[[12, [4, [14]], [4, [14]], [2, [9, [6]], [5, ...",True
26569,12393,26569,NaN,test.c,"[[12, [2, [2, [2], [2], [2], [2], [2]]]]]",False
8262,558234,8262,NaN,test.c,"[[12, [4], [4], [4], [4], [4], [2, [9, [6], [6...",True
2878,196896,2878,NaN,test.c,"[[12, [4], [4], [2, [9, [6, [0, [1]]]], [9, [6...",True
26526,12350,26526,NaN,test.c,"[[12, [4], [4], [4], [4], [4], [4], [2, [5, [0...",False
7597,512308,7597,NaN,test.c,"[[12, [2, [9, [6]], [9, [6, [8]]], [9, [6, [8]...",True
10114,681043,10114,NaN,test.c,"[[12, [4], [4], [4], [4], [4], [2, [9, [6]], [...",True
22764,8521,22764,NaN,test.c,"[[12, [4], [4], [2, [9, [17], [6, [14]]], [5, ...",False

In [6]:
import numpy as np
bug_label = list(map(sum,np.array(pd.DataFrame(test_data["buffer"]))))

In [8]:
print("It contains %s bug examples." % sum(np.array(bug_label)>0))

It contains 2860 bug examples.

In [14]:
print("It contains %d good examples." % (5747-2860))

It contains 2887 good examples.

In [36]:
imbalanced_data=test_data.copy()

In [37]:
len(imbalanced_data)

5747

In [38]:
index = imbalanced_data[imbalanced_data.buffer == True].index[:2572]

In [39]:
#需要减去2572个bug example
imbalanced_data = imbalanced_data.drop(index)

In [40]:
imbalanced_data

,Unnamed: 0,testcase_ID,flaw_loc,filename,code,buffer
17738,3418,17738,NaN,test.c,"[[12, [2, [9, [6], [6]], [2, [9, [6], [6]], [5...",False
15977,1635,15977,NaN,test.c,"[[12, [4, [14]], [4], [4], [4], [2, [9, [17], ...",False
25736,11541,25736,NaN,test.c,"[[12, [4], [4], [2]], [4]]",False
23337,9101,23337,NaN,test.c,"[[12, [4], [4], [4, [14]], [2, [9, [6, [8]]], ...",False
23546,9312,23546,NaN,test.c,"[[12, [4]]]",False
21965,7709,21965,NaN,test.c,"[[12, [4], [4], [4], [4], [4], [4], [2, [9, [6...",False
22738,8495,22738,NaN,test.c,"[[12, [4], [2, [5, [0], [2]], [5, [7, [0, [1]]...",False
14433,69,14433,NaN,test.c,"[[12, [4, [14]], [4], [4, [14]], [4], [2, [9, ...",False
18215,3902,18215,NaN,test.c,"[[12, [4], [4, [14]], [2, [9, [6, [8]]], [5, [...",False
16413,2075,16413,NaN,test.c,"[[12, [2, [5, [0], [2], [2, [10, [0, [1]]]]]]]]",False
23221,8983,23221,NaN,test.c,"[[12, [4], [4, [14]], [4], [2]], [4, [14]], [4]]",False
26411,12234,26411,NaN,test.c,"[[12, [4, [14]], [2, [9, [6]], [24, [7, [1], [...",False
26813,12638,26813,NaN,test.c,"[[12, [4], [4], [4], [2, [9, [6], [6], [6]], [...",False
21851,7593,21851,NaN,test.c,"[[12, [4, [14]], [4, [14]], [4], [2, [9, [17],...",False
26814,12639,26814,NaN,test.c,"[[12, [2, [9, [17], [6, [14]]], [5, [0], [2, [...",False
27351,13185,27351,NaN,test.c,"[[12, [4], [4], [2, [5, [0], [2]]]], [4], [5, ...",False
21433,7167,21433,NaN,test.c,"[[12, [4], [4], [2, [5, [0], [2], [2]]]], [4],...",False
24836,10622,24836,NaN,test.c,"[[12, [4], [4], [2, [5, [0], [2]]]], [4], [5, ...",False
28200,14041,28200,NaN,test.c,"[[12, [4], [4], [2, [9, [6]], [24, [7, [1], [0...",False
18688,4382,18688,NaN,test.c,"[[12, [4]]]",False
18895,4590,18895,NaN,test.c,"[[12, [4], [4], [2, [25, [19]]]], [4]]",False
24158,9931,24158,NaN,test.c,"[[12, [4, [14]], [4], [4], [2, [9, [6]], [9, [...",False
22382,8137,22382,NaN,test.c,"[[12, [4, [14]], [2, [9, [17], [6, [14]]], [9,...",False
17907,3588,17907,NaN,test.c,"[[12, [4], [4], [2, [9, [6]], [5, [0], [2, [13...",False
23408,9172,23408,NaN,test.c,"[[12, [4], [4]], [4]]",False
21927,7671,21927,NaN,test.c,"[[12, [2, [5, [0], [2, [10, [0, [1]], [0, [16]...",False
17823,3504,17823,NaN,test.c,"[[12, [4], [4], [4], [4], [2, [5, [0], [2, [21...",False
27014,12843,27014,NaN,test.c,"[[12, [2]]]",False
16179,1839,16179,NaN,test.c,"[[12, [4, [14]], [4], [4], [2, [5, [0], [2, [5...",False
14749,391,14749,NaN,test.c,[],False
...,...,...,...,...,...,...
25739,11544,25739,NaN,test.c,"[[12, [4, [14]], [2, [9, [17], [6, [14]]], [5,...",False
18708,4402,18708,NaN,test.c,"[[12, [4], [2, [5, [0], [2]]]], [5, [0], [2]]]",False
9077,615014,9077,NaN,test.c,"[[12, [4, [14]], [4, [14]], [2, [9, [17], [6, ...",True
18573,4265,18573,NaN,test.c,"[[12, [4], [4], [4], [2]], [4], [4]]",False
4047,271915,4047,NaN,test.c,"[[12, [4], [4], [4], [2, [9, [6, [0, [1]]]], [...",True
204,14029,204,NaN,test.c,"[[12, [4], [4], [4], [4], [2, [9, [6], [6], [6...",True
24274,10048,24274,NaN,test.c,"[[12, [4], [4], [4], [4], [4], [2, [5, [0], [2...",False
11333,762145,11333,NaN,test.c,"[[12, [4], [2, [9, [6, [10, [0, [1]], [0, [1]]...",True
25383,11183,25383,NaN,test.c,"[[12, [4], [4], [2, [9, [6, [0, [28, [0, [1]]]...",False
20968,6698,20968,NaN,test.c,"[[12, [2]]]",False
27694,13530,27694,NaN,test.c,"[[12, [4], [4], [4], [2, [9, [6]], [10, [0, [1...",False
10640,716326,10640,NaN,test.c,"[[12, [4], [4], [2, [9, [6]], [9, [17], [6, [1...",True
8767,591062,8767,NaN,test.c,"[[12, [4, [14]], [4], [4], [4], [2, [9, [17], ...",True
19169,4869,19169,NaN,test.c,"[[12, [4], [2, [25, [19]], [5, [0], [2]]]], [5...",False
27406,13240,27406,NaN,test.c,"[[12, [4], [4], [4], [4], [2, [5, [0], [2, [5,...",False
10396,699473,10396,NaN,test.c,"[[12, [4, [14]], [4, [14]], [2, [9, [6]], [9, ...",True
13372,900925,13372,NaN,test.c,"[[12, [4], [4], [4], [2, [9, [6]], [9, [6]], [...",True
25139,10935,25139,NaN,test.c,"[[12, [4, [14]], [4], [4, [14]], [4, [14]], [2...",False
16606,2271,16606,NaN,test.c,"[[12, [4], [4], [4], [2]], [4], [4]]",False
1115,79747,1115,NaN,test.c,"[[12, [4], [4], [4], [2, [9, [6]], [24, [7, [1...",True
1469,103709,1469,NaN,test.c,"[[12, [4], [4], [4], [2, [9, [6]], [5, [0], [1...",True
16292,1953,16292,NaN,test.c,"[[12, [2, [5, [0], [2]]]]]",False
10654,717384,10654,NaN,test.c,"[[12, [4, [14]], [4, [14]], [2, [9, [6]], [5, ...",True
26569,12393,26569,NaN,test.c,"[[12, [2, [2, [2], [2], [2], [2], [2]]]]]",False
8262,558234,8262,NaN,test.c,"[[12, [4], [4], [4], [4], [4], [2, [9, [6], [6...",True
2878,196896,2878,NaN,test.c,"[[12, [4], [4], [2, [9, [6, [0, [1]]]], [9, [6...",True
26526,12350,26526,NaN,test.c,"[[12, [4], [4], [4], [4], [4], [4], [2, [5, [0...",False
7597,512308,7597,NaN,test.c,"[[12, [2, [9, [6]], [9, [6, [8]]], [9, [6, [8]...",True
10114,681043,10114,NaN,test.c,"[[12, [4], [4], [4], [4], [4], [2, [9, [6]], [...",True
22764,8521,22764,NaN,test.c,"[[12, [4], [4], [2, [9, [17], [6, [14]]], [5, ...",False

In [41]:
bug_label = list(map(sum,np.array(pd.DataFrame(imbalanced_data["buffer"]))))
print("It contains %s bug examples." % sum(np.array(bug_label)>0))

It contains 288 bug examples.

In [42]:
imbalanced_data.to_pickle("./imblocks.pkl")

In [43]:
data = pd.read_pickle('./imblocks.pkl')